.questions {
	text-align: center;
	margin-bottom: 140px;
	@media (max-width: 560px) {
		margin-bottom: 80px;
	}
	&__title {
		margin-bottom: 50px;
		@media (max-width: 560px) {
			margin-bottom: 30px;
		}
	}
	&__text {
		margin: 0 -10px 55px;
		@media (max-width: 560px) {
			margin: 0 0 20px;
		}
	}
	// .questions__items
	&__items {
		display: flex;
		margin-bottom: 164px;
		overflow-x: hidden;
		margin-left: -15px;
		margin-right: -15px;
		@media (max-width: 760px) {
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 0;
		}
	}

	// .questions__item
	&__item {
		padding: 0 15px;
		flex: 0 0 50%;
		&:first-child {
			transform: translate(-200%, 0);
			opacity: 0;
		}
		&:last-child {
			transform: translate(200%, 0);
			opacity: 0;
		}
		&:first-child._active {
			transform: translate(0, 0);
			opacity: 1;
			transition: all 0.8s ease 0.2s;
		}
		&:last-child._active {
			transform: translate(0, 0);
			opacity: 1;
			transition: all 0.8s ease 0.2s;
		}
		@media (max-width: 760px) {
			flex: 0 1 100%;
			margin-bottom: 50px;
		}
	}

	// .questions__img
	&__img {
		margin: 10px 0 25px;
		img {
			max-width: 100%;
			height: auto;
		}
		@media (max-width: 992px) {
			margin: 0 50px 25px 30px;
		}
		@media (max-width: 760px) {
			margin: 30px 77px 20px 50px;
		}
	}
	&__autor {
		font-size: 24px;
		line-height: 29px;
		@media (max-width: 992px) {
			font-size: 20px;
			line-height: 25px;
		}
		@media (max-width: 760px) {
			font-size: 14px;
			line-height: 17px;
		}
	}
}
.block-questions {
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
	// .block-questions__item
	&__item {
		text-align: left;
		background-color: #90dbfc;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
		transition: all 0.5s;
		&:first-child {
			box-shadow: none;
		}
		.active {
			color: #18acff;
			background-color: #fff;
			svg {
				fill: #18acff;
				transform: rotate(-90deg);
			}
		}
	}

	// .block-questions__question
	&__question {
		position: relative;
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		padding: 58px 60px 58px 17px;
		svg {
			position: absolute;
			top: 50%;
			right: 30px;
			width: 24px;
			height: 24px;
			fill: #000;
			transform: translateY(-50%);
			transition: 0.3s;
		}
		@media (max-width: 992px) {
			font-size: 16px;
			line-height: 18px;
			padding: 45px 60px 45px 11px;
			svg {
				width: 16px;
				height: 16px;
			}
		}
		@media (max-width: 760px) {
			font-size: 14px;
			padding: 31px 60px 31px 11px;
		}
	}
	// .block-questions__ansver
	&__ansver {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		padding: 12px 40px 70px 17px;
		background-color: #fff;
		display: none;
		@media (max-width: 992px) {
			font-size: 14px;
			line-height: 18px;
			padding: 12px 11px 31px 11px;
		}
		@media (max-width: 760px) {
			padding: 12px 11px 31px 11px;
		}
	}
}
.question-bottom {
	position: relative;
	background: url('../images/page/questions-bg.png') center/cover no-repeat;
	color: #fff;
	&::after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(163.19deg, rgba(18, 9, 77, 0.8) 33.37%, rgba(49, 35, 139, 0.8) 88.4%);
	}
	&__content {
		position: relative;
		padding: 165px 0 200px;
		z-index: 3;
		@media (max-width: 760px) {
			padding: 95px 0 85px;
		}
		@media (max-width: 760px) {
			padding: 50px 0;
		}
	}
	// .question-bottom__text
	&__text {
		position: relative;
		line-height: 31px;
		margin-bottom: 63px;
		@media (max-width: 560px) {
			margin-bottom: 35px;
		}
	}

	// .question-bottom__title
	&__title {
		margin-bottom: 100px;
		@media (max-width: 560px) {
			margin-bottom: 60px;
		}
	}

	// .question-bottom__btn
	&__btn {
		position: relative;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 1px;
		padding: 24px 91px 23px;
		background: linear-gradient(92.01deg, #18ffac 19.16%, #18acff 82.18%);
		box-shadow: 0px 0px 25px rgba(24, 255, 172, 0.5);
		overflow: hidden;
		&::after {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 80px;
			height: 100%;
			background: linear-gradient(90deg, transparent, #fff, transparent);
			transform: translate(-100%) skewX(-45deg);
		}
		@media (min-width: 992px) {
			&:hover {
				&::after {
					animation: move-light 0.8s;
				}
			}
		}
		@keyframes move-light {
			from {
				transform: translate(-100%) skewX(-45deg);
			}
			to {
				transform: translate(500px) skewX(-45deg);
			}
		}
		@media (max-width: 760px) {
			font-size: 12px;
			line-height: 15px;
			padding: 16px 79px 15px 78px;
		}
		@media (max-width: 560px) {
			font-size: 12px;
			line-height: 15px;
			padding: 11px 40px 10px;
		}
	}
}
