<form action="" class="filter">
   <div class="filter__body">
      <div class="filter__item">
         <h3>Производитель</h3> 
         <ul class="filter-brand active">
            <li>
               <input type="checkbox" value="Colors" id="Colors" checked>
               <label class="label" for="Colors">Colors</label>          
            </li>
            <li>
               <input type="checkbox" value="Meyer" id="Meyer">
               <label class="label" for="Meyer">Max Meyer</label>
            </li>
            <li>
               <input type="checkbox" value="Kompozit" id="Kompozit">
               <label class="label" for="Kompozit">Kompozit</label>
            </li>
            <li>
               <input type="checkbox" value="Kale" id="Kale">
               <label class="label" for="Kale">Kale</label>
            </li>
            <li>
               <input type="checkbox" value="Signoria" id="Signoria">
               <label class="label" for="Signoria">Antica Signoria</label>
            </li>
            <li>
               <input type="checkbox" value="Ferrara" id="Ferrara">
               <label class="label" for="Ferrara">Ferrara</label>
            </li>
            <li>
               <input type="checkbox" value="Rossetti" id="Rossetti">
               <label class="label" for="Rossetti">Rossetti</label>
            </li>
            <li>
               <input type="checkbox" value="Vasco" id="Vasco">
               <label class="label" for="Vasco">Vasco</label>
            </li>
            <li>
               <input type="checkbox" value="Spiver" id="Spiver">
               <label class="label" for="Spiver">Spiver</label>
            </li>
         </ul>
         <span class="open">Открыть все</span>   
      </div>
      <div class="filter__item">
         <h3>Цена</h3> 
            <div class="filter-price">

            </div>
      </div>
   </div>
</form>